<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('includes/head.ejs') %>
</head>
<body>
  <header class="main-header">
    <%- include('includes/nav.ejs') %>
  </header>
  <main>
    <h1>Page Not Found</h1>
  </main>
</body>
</html>